node_modules/
dist/
npm-debug.log
yarn-error.log
*/webpack-stats.json
frontend/package-lock.json

# Editor directories and files
.vscode/settings.json
.vscode/tags
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store

# Python
*.pyc
__pycache__

# Django 
media
static

db.sqlite3
.env
