# Envirion
.env
.env.local
.env.*.local

# Folders
data/
fabric/cert

# Log files
log/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Editor directories and files
.vscode/settings.json
.vscode/tags


# Django
*.pyc
__pycache__
db.sqlite3
django/media/
django/static/


# Vue
node_modules/
dist/
npm-debug.log
*/webpack-stats.json
vue/frontend/package-lock.json


# Production
settings.json
rsync.sh
.env.production
all.sh
