# Envirion
.env
rsync.sh

# Editor directories and files
.vscode/settings.json
.vscode/tags

# Django
*.pyc
__pycache__
db.sqlite3
media/
static/

# Vue
node_modules/
dist/
npm-debug.log
*/webpack-stats.json
vue/frontend/package-lock.json
